<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="margin:0; padding:0;word-spacing:normal;">
  <div role="article" aria-roledescription="email" lang="en" style="text-size-adjust:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
    <table role="presentation" style="width:100%;border:none;border-spacing:0;">
      <tr>
        <td align="center" style="padding:0;">
          <table role="presentation" style="width:94%; max-width:600px; border: none; border-spacing: 0; text-align: left; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 20px;line-height: 24px;">
            <tr>
              <td>
                <a href="http://google.com/" style="text-decoration: none;">
                  <img src="../static/img/logo.svg" alt="Logo">
                </a>
              </td>
            </tr>
            <tr>
              <td style="padding: 30px 30px 15px; background-color: #80ae97; background-image: url(../static/img/background.png);">
                <h1 style="margin-bottom: 50px; font-size: 50px; line-height: 62px; font-weight: bold; ">
                  Welcome to UGS, <br> {{ name }}!
                </h1>
                <p>
                  We are University Graphic Systems, a student-run and operated print service located on Cal Poly’s campus.
                </p>
              </td>
            </tr>
            <tr>
              <td style="padding: 0;">
                <h3 style="margin-bottom: 30px; font-size: 35px; font-weight: bold;">
                  About Our Shop
                </h3>
                <p>
                  UGS offers a number of template designs, t-shirts, and stickers! All of these products are available in our storefront, email us at ugs@calpoly.edu about availability of these products or if you have any questions.
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <table role="presentation" width="100%">
                  <tr>
                    <td>
                      <img src="../static/img/img1.png" alt="">
                    </td>
                    <td>
                      <h3>
                        Resume
                      </h3>
                      <p>
                        Eight unique resume templates available. Templates cost $15 plus the cost of printing, see our services page for pricing.
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h3>
                        Business Cards
                      </h3>
                      <p>
                        Eight unique templates available. Templates cost $15 plus the cost of printing, see our services page for pricing. 
                      </p>
                    </td>
                    <td>
                      <img src="../static/img/img2.png" alt="">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://facebokk.com" style="width: 190px; height: 43px; text-decoration: none; background-color: #154734; color: #fff;"> View Our Shop</a>
              </td>
            </tr>
            <tr>
              <td style="padding: 29px 145px; font-size: 15px; background-color: #e5e5e5;">
                <div>
                  <img src="../static/img/logo-instagram.svg" alt="">
                  <img src="../static/img/logo-facebook.svg" alt="">
                  <img src="../static/img/logo-linkedin.svg" alt="">
                </div>
                <p>www.ugs.com</p>
                <p style="margin-bottom: 20px;">8050809</p>
                <p>Building 26, Room 212A</p>
                <p>San Luis, CA 93405</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>